@using ClickToBuy.Model
@model IEnumerable<Condition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Condition Details</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-success btn-lg btn-block"><i class="fas fa-plus"></i> Create Product Condition</a>
    </div>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="display table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Condition item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                Discription : @item.Description <br />
                                Products : <a asp-route-id="@item.Id" asp-action="GetProductByCondition"><span class="badge bg-theme">@item.Products.Count</span></a>
                            </td>
                            <td>
                                <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Update</a>
                                <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>


