@using ClickToBuy.Model
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Get Product By Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<ProductPhoto> productPhotos = ViewBag.ProductPhotos;
    List<Category> categories = ViewBag.Categorys;
    List<StockProduct> stockProductList = ViewBag.StockProductList;
    List<PurchaseItem> purchaseItems = ViewBag.PurchaseItems;
    List<OrderDetails> orderDetailsList = ViewBag.OrderDetails;
    int stockProduct = 0, sellProduct = 0, totalStock = 0;
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Product Details</h2>
</div>

<a asp-controller="Product" asp-action="Index" class="btn btn-info btn-xs"><i class="fa fa-bars"></i> Back To Product</a>


<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width: 21%">Basic Info</th>
                        <th style="width: 19%">Activity</th>
                        <th style="width: 13%">Price</th>
                        <th style="width: 16%">Picture</th>
                        <th style="width: 32%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product item in Model)
                    {
                        List<StockProduct> stockProducts = stockProductList.Where(s => s.ProductId == item.Id).ToList();
                        List<OrderDetails> sellProducts = orderDetailsList.Where(od => od.ProductId == item.Id).ToList();

                        foreach (StockProduct itemForStock in stockProducts)
                        {
                            stockProduct = stockProduct + itemForStock.Quantity;
                        }

                        foreach (OrderDetails itemForSellProduct in sellProducts)
                        {
                            sellProduct = sellProduct + itemForSellProduct.Quantity;
                        }

                        totalStock = stockProduct - sellProduct;

                        <tr>
                            <td>
                                <b>Name : @item.Name</b><br />
                                Category : @item.Category.Name <br />
                                Brand : @item.Brand.Name <br />
                                Condition : @item.Condition.Name <br />
                                Status : @item.CloseType.Name <br />
                            </td>
                            <td>
                                Stock : <span class="badge bg-primary"> @stockProduct </span> ---->
                                Sell :  <span class="badge bg-warning"> @sellProduct </span> <br />
                                Total Stock : <span class="badge bg-success"> @totalStock </span> <br />
                                @*<a asp-route-id="@item.Id" asp-action="GetStockByProduct"></a> <br />*@

                                @{
                                    stockProduct = 0;
                                    sellProduct = 0;
                                    totalStock = 0;
                                }

                                Link : @item.Link <br />
                                Details : @item.ProductDetails
                            </td>
                            <td>
                                @{
                                    PurchaseItem purchaseItemInfo = purchaseItems.Where(pi => pi.ProductId == item.Id).LastOrDefault();

                                    if (purchaseItemInfo == null)
                                        purchaseItemInfo = new PurchaseItem();
                                }

                                Pu. Price : @purchaseItemInfo.Price <br />
                                Re. Price : @item.RegularPrice <br />
                                Off. Price : @item.OfferPrice <br />
                            </td>
                            <td>
                                @{
                                    ProductPhoto aProductPhoto = productPhotos
                                                .Where(pp => pp.ProductId == item.Id
                                                && pp.Featured == true && pp.Status == true)
                                                .FirstOrDefault();
                                    string productPhotoName = aProductPhoto == null ?
                                                "productphotos/NoImageFound.png" : aProductPhoto.Photo;
                                }
                                <img src="~/@productPhotoName" height="110" width="120" />
                            </td>
                            <td>
                                <a asp-controller="ProductPhoto" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Add Photo</a>
                                <a asp-controller="ProductPhoto" asp-action="Index" asp-route-id="@item.Id" class="btn btn-theme02 btn-xs"><i class="fa fa-camera"></i> Photos</a>
                                <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Update</a>
                                <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Basic Info</th>
                        <th>Activity</th>
                        <th>Price</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>

