@using ClickToBuy.Model
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<ProductPhoto> productPhotos = ViewBag.ProductPhotos;
    List<StockProduct> stockProductList = ViewBag.StockProductList;
    int totalStockProduct = 0;
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Product Details</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-success btn-lg btn-block"><i class="fas fa-plus"></i> Create Product</a>
    </div>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>Basic Info</th>
                        <th>Activity</th>
                        <th>Price</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product item in Model)
                    {
                        <tr>
                            <td>
                                <b>Name : @item.Name</b><br />
                                Category : @item.Category.Name <br />
                                Brand : @item.Brand.Name <br />
                            </td>
                            <td>
                                Stock : <a asp-route-id="@item.Id" asp-action="GetStockByProduct">
                                    @{
                                        List<StockProduct> stockProducts = stockProductList.Where(s => s.ProductId == item.Id).ToList();
                                        foreach (StockProduct itemForStock in stockProducts)
                                        {
                                            totalStockProduct = totalStockProduct + itemForStock.Quantity;
                                        }
                                    }
                                    @totalStockProduct
                                </a><br />
                                @{
                                    totalStockProduct = 0;
                                }
                                Condition : @item.Condition.Name <br />
                                Status : @item.CloseType.Name <br />
                                Link : @item.Link <br />
                                Details : @item.ProductDetails
                            </td>
                            <td>
                                Re. Price : @item.RegularPrice <br />
                                Off. Price : @item.OfferPrice <br />
                            </td>
                            <td>
                                @{
                                    ProductPhoto aProductPhoto = productPhotos
                                                .Where(pp => pp.ProductId == item.Id 
                                                && pp.Featured == true && pp.Status == true)
                                                .FirstOrDefault();
                                    string productPhotoName = aProductPhoto == null ?
                                                "productphotos/NoImageFound.png" : aProductPhoto.Photo;
                                }
                                <img src="~/@productPhotoName" height="110" width="120" />
                            </td>
                        <td>
                            <a asp-controller="ProductPhoto" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Add Photo</a>
                            <a asp-controller="ProductPhoto" asp-action="Index" asp-route-id="@item.Id" class="btn btn-theme02 btn-xs"><i class="fa fa-camera"></i> Photos</a>
                            <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Update</a>
                            <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
                        </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Basic Info</th>
                        <th>Activity</th>
                        <th>Price</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>

