@using ClickToBuy.Model
@model Product

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-panel">
    <h2 id="hadertitle"> Update Product</h2>
    <hr />
    <div class="form" style="margin-top:50px">
        <form method="post" asp-action="Update" class="cmxform form-horizontal style-form" enctype="multipart/form-data">
            <div class="col-md-6">
                <div class="form-group ">
                    <label asp-for="Name" class="control-label col-lg-2"></label>
                    <div class="col-lg-8">
                        <input type="text" asp-for="Name" value="@Model.Name" class=" form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-lable col-lg-2">Category</label>
                    <div class="col-lg-8">
                        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-control">
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConditionId" class="control-lable col-lg-2">Condition</label>
                    <div class="col-lg-8">
                        <select asp-for="ConditionId" asp-items="@ViewBag.ConditionList" class="form-control">
                        </select>
                        <span asp-validation-for="ConditionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RegularPrice" class="control-lable col-lg-2">Regular Price</label>
                    <div class="col-lg-8">
                        <input type="number" asp-for="RegularPrice" value="@Model.RegularPrice" class="form-control" />
                        <span asp-validation-for="RegularPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetails" class="control-lable col-lg-2">Product Details</label>
                    <div class="col-lg-8">
                        <textarea asp-for="ProductDetails" class="form-control" placeholder="Type Details">@Model.ProductDetails</textarea>
                        <span asp-validation-for="ProductDetails" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BrandId" class="control-label col-lg-2">Brand</label>
                    <div class="col-lg-8">
                        <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">
                        </select>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CloseTypeId" class="control-lable col-lg-2">Status</label>
                    <div class="col-lg-8">
                        <select asp-for="CloseTypeId" asp-items="@ViewBag.CloseTypeList" class="form-control">
                        </select>
                        <span asp-validation-for="CloseTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OfferPrice" class="control-lable col-lg-2">Offre Price</label>
                    <div class="col-lg-8">
                        <input type="number" asp-for="OfferPrice" value="@Model.OfferPrice" class="form-control" />
                        <span asp-validation-for="OfferPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-lable col-lg-2"></label>
                    <div class="col-lg-8">
                        <textarea asp-for="Link" class="form-control" placeholder="Link hare">@Model.Link</textarea>
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-left:100px">
                <div class="col-lg-offset-2 col-lg-10">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                    <input type="submit" value="Update" class="btn btn-theme" />
                    <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>

