@using ClickToBuy.Model
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Customer Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create Customer</a>
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
        <table id="myTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Basic Info</th>
                    <th>Other Info</th>
                    <th>Activity</th>
                    <th>Address</th>
                    <th>Picture</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer item in Model)
                {
                    <tr>
                        <td>
                            Name : @item.Name <br />
                            Contact : @item.Contact <br />
                            Emial : @item.Email <br />
                            Gender : @item.Gender.Name
                        </td>
                        <td>
                            Join : @item.JoinDate <br />
                            IP : @item.CustomerIPAddress
                        </td>
                        <td>
                            Comment : <br />
                            Like : <br />
                            Product : <br />
                        </td>
                        <td>
                            Address : @item.Address <br />
                            City : @item.City.Name <br />
                            Country : @item.Country.Name
                        </td>
                        <td>  
                            <img src="~/@item.Pictuer" height="80" width="90" />
                        </td>
                        <td><a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger"><i class="far fa-trash-alt"></i> Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

