@using ClickToBuy.Model
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Order> orders = ViewBag.Orders;
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Customer Details</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-success btn-lg btn-block"><i class="fas fa-plus"></i> Create Customer</a>
    </div>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>Basic Info</th>
                        <th>Other Info</th>
                        <th>Activity</th>
                        <th>Address</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Customer item in Model)
                    {
                        <tr>
                            <td>
                                Name : @item.Name <br />
                                Contact : @item.Contact <br />
                                Emial : @item.Email <br />
                                Gender : @item.Gender.Name
                            </td>
                            <td>
                                Join : @item.JoinDate.ToString("dd/MM/yyyy") <br />
                                IP : @item.CustomerIPAddress
                            </td>
                            <td>           
                                @{ 
                                    List<Order> customerOrder = orders.Where(o => o.CustomerId == item.Id 
                                    && o.Status == true).ToList();
                                }
                                Order : @customerOrder.Count() <br />
                            </td>
                            <td>
                                Address : @item.Address <br />
                                City : @item.City.Name <br />
                                Country : @item.Country.Name
                            </td>
                            <td>
                                <img src="~/@item.Pictuer" height="80" width="90" />
                            </td>
                            <td><a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Basic Info</th>
                        <th>Other Info</th>
                        <th>Activity</th>
                        <th>Address</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>