@using ClickToBuy.Model
@model Admin

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Upadte Admin</h2>
<hr />

<form method="post" asp-action="Update" enctype="multipart/form-data" asp-route-pic="@Model.Picture">
    <div class="row" id="createandeditfrom">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-lable"></label>
                <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-lable"></label>
                <input type="number" asp-for="ContactNo" value="@Model.ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-lable"></label>
                <input type="password" asp-for="Password" value="@Model.Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" asp-items="@ViewBag.CountryList" class="form-control">
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-lable"></label>
                <textarea asp-for="Address" class="form-control" placeholder="Type your address">@Model.Address</textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Picture" class="control-lable"></label>
                <input type="file" name="Picture" asp-for="Picture" value="@Model.Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-lable"></label>
                <input type="password" asp-for="ConfirmPassword" value="@Model.Password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control">
                    <option value="">-- Select City --</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 320px">
        <div class="col-md-12">
            <div class="form-group">
                <span class="text-danger">@ViewBag.ErrorMessage</span>
                <input type="submit" value="Update" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info"><i class="fas fa-list"></i> Back To List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                var countryId = $("#CountryId").val();
                $("#CityId").empty();
                $("#CityId").append('<option value="">-- Select City --</option>');
                var serverUrl = '/api/Customer/GetCityByCountry?countryId=' + countryId;

                 $.ajax({
                     url: serverUrl,
                     success: function (response) {
                         $.each(response, (key, value) => {
                             $("#CityId").append('<option value=' + value.id + '>' + value.name + '</option>');
                         });
                     },
                     error: function (response) {
                         alert("Error Happend");
                     }
                 });
            });
        });
    </script>
}

