@using ClickToBuy.Model
@model IEnumerable<PurchaseItem>

@{
    ViewData["Title"] = "GetPurchaseItemByPurchaseId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int totalProduct = 0;
    int totalQuantity = 0;
    float totalUnitPrice = 0;
    float totalPrice = 0;
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Purchase Item Details</h2>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PurchaseItem item in Model)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantity * item.Price)</td>
                        </tr>
                        
                        {
                            totalProduct += 1;
                            totalQuantity += item.Quantity;
                            totalUnitPrice += item.Price;
                            totalPrice += item.Quantity * item.Price;
                        }
                    }
                </tbody>
                <tfoot>                    
                    <tr>
                        <th>Total Product : @totalProduct</th>
                        <th>Total Quantity : @totalQuantity</th>
                        <th>Total Unit Price : @totalUnitPrice</th>
                        <th>Total Price : @totalPrice</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>

