@using ClickToBuy.Model
@model IEnumerable<Purchase>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<PurchasePayment> purchasePaymentList = ViewBag.PurchasePaymentList;
}

<div class="row content-panel mt mb">
    <h2 id="hadertitle">Purchase Details</h2>
</div>

<div class="col-md-12">
    <div class="col-md-2">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create Purchase</a>
    </div>
    <div class="col-md-8">
        <form method="post" asp-controller="Purchase" asp-action="SearchPurchase">
            <div class="col-md-9">
                <div class="input-group input-large">
                    <span class="input-group-addon">From</span>
                    <input type="date" class="form-control" name="from" required="required">
                    <span class="input-group-addon">To</span>
                    <input type="date" class="form-control" name="to" required="required">
                </div>
            </div>
            <input type="submit" class="btn btn-theme" value="Search" />
        </form>
    </div>
    <div class="col-md-2">
        <select class="btn btn-theme02" id="supplierId" asp-items="ViewBag.SupplierList">
            <option value=""> -- Select Supplier -- </option>
        </select>
    </div>
</div>

<div class="content-panel col-md-4" id="info" style="margin-top: 15px; margin-left: 350px">
    <div class="panel-body text-center">
        <h3>Supplier Info</h3>
        <hr />
        <p style="font-size:18px" id="showInfo">
        </p>
    </div>
</div>

<div class="col-lg-12" style="margin-top: 20px">
    <div class="content-panel" style="padding:20px">
        <section id="unseen">
            <table id="myTable" class="table table-bordered table-striped table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>Purchase Info</th>
                        <th>Payment Info</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Purchase item in Model)
                    {
                        <tr>
                            <td>
                                Purchase Number : @item.PurchaseNumber <br />
                                Supplier Name : @item.Supplier.Name <br />
                                Purchase Date : @item.Date.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                Total Item : <a asp-route-id="@item.Id" asp-action="GetPurchaseItemByPurchaseId">&nbsp; &nbsp; <span class="badge bg-info" style="font-size: 15px"> @item.PurchaseItems.Count </span></a> <br />
                                @{
                                    PurchasePayment aPurchasePaymentDetails = purchasePaymentList.Where(p => p.PurchaseId == item.Id).FirstOrDefault();
                                }
                                Pay Amount : <span class="badge bg-success" style="font-size: 15px"> @aPurchasePaymentDetails.PayAmount </span><br />
                                Due Amount : <span class="badge bg-warning" style="font-size: 15px"> @aPurchasePaymentDetails.DueAmount </span>
                            </td>
                            <td>
                                @if (item.PurchasePayment.DueAmount > 0)
                                {
                                    <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Update</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Purchase Info</th>
                        <th>Payment Info</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <!-- /content-panel -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {
            $("#info").hide();
            $("#supplierId").change(function () {
                $("#info").show();
                $("#showInfo").empty();
                var supplierId = $("#supplierId").val();
                var serverUrl = 'api/Purchase/SupplierInfo?supplierId=' + supplierId;

                if (supplierId == "") {
                    $("#info").hide();
                }

                $.ajax({
                    url: serverUrl,
                    success: function (response) {
                        $('#showInfo').append("Total Payment : " + response.payAmount + "<br />"
                                             + "Total Due : " + response.dueAmount);    
                    },
                    error: function (response) {
                        alert(response);
                    }
                });                         
            });
        });
    </script>    
}

