@using ClickToBuy.Model
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Category Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create Category</a>
    </div>
</div>

<div class="row" style="margin-left: 50px">
    <div class="col-md-12">
        <table id="myTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parent Category</th>
                    <th>Description</th>
                    <th>Product List</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@(item.Categoryy == null ? "NA" : item.Categoryy.Name)</td>
                        <td>
                            Description: @item.Description <br />
                        </td>
                        <td><a asp-route-id="@item.Id" asp-action="GetProductByCategoryId">@item.Products.Count</a></td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="Update" class="btn btn-info"><i class="far fa-edit"></i> Update</a>
                            <a asp-route-id="@item.Id" asp-action="Remove" class="btn btn-danger"><i class="far fa-trash-alt"></i> Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

