@using ClickToBuy.Model
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="hadertitle">Category Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="AddParentCategory" class="btn btn-primary"><i class="fas fa-plus"></i> Add Parent Category</a>
    </div>
</div>

<div class="row" style="margin-left: 20px; margin-top: 30px;">
    <div class="col-md-12">
        <table class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parent Name</th>
                    <th>Information</th>
                    <th>Action</th>
                </tr>
            </thead>  
            <tbody>
                @foreach (Category parentCategory in Model)
                {
                     <tr>
                         <td>@parentCategory.Name</td>
                         <td>@(parentCategory.Categoryy == null ? "" : parentCategory.Categoryy.Name)</td>
                         <td>
                             Status : @(parentCategory.Status == true ? "Show" : "Hide") <br />
                             Description : @parentCategory.Description
                         </td>
                         <td>
                             <a asp-action="AddSubCategory" asp-route-id="@parentCategory.Id" class="btn btn-success"><i class="fas fa-plus"></i> Add Sub Category</a> |
                             <a asp-action="Update" asp-route-id="@parentCategory.Id" class="btn btn-info"><i class="far fa-edit"></i> Update</a>
                             @if(parentCategory.Categories.Count() <= 0 && parentCategory.Categoryy == null)
                             {    
                                 <a> | </a>
                                <a asp-action="Remove" asp-route-id="@parentCategory.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i> Remove</a>
                             }
                         </td>
                     </tr>

                     @foreach (Category subCategory in parentCategory.Categories)
                     {
                         <tr>
                             <td>&nbsp; &nbsp; &nbsp; &nbsp; @subCategory.Name</td>
                             <td>@(subCategory.Categoryy == null ? "" : subCategory.Categoryy.Name)</td>
                             <td>
                                 Status : @(subCategory.Status == true ? "Show" : "Hide") <br />
                                 Description : @parentCategory.Description
                             </td>
                             <td>
                                 <a asp-action="Update" asp-route-id="@subCategory.Id" class="btn btn-info"><i class="far fa-edit"></i> Update</a> |
                                 <a asp-action="Remove" asp-route-id="@subCategory.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i> Remove</a>
                             </td>
                        </tr>
                     }
                }
            </tbody>
        </table>
    </div>
</div>

